@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Nas.Data.Uri>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nas-shortener</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body class="text-center">
<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm-6  border rounded">
            <h1 class="display-4">nas-shortener</h1>
            @if (Model.Any())
            {
                @foreach (var item in Model)
                {
                    <div class="format_items border rounded">
                        <div>
                            <a href="@item.Link">@item.Link</a>
                        </div>
                        <div>
                            <a href="https://localhost:5001/nv/@item.Slug">https://localhost:5001/nv/@item.Slug</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="format_items">
                    <p>No available short uris.</p>
                </div>
            }
            
            <a class="btn btn-primary format_items" href="/">Back</a>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
</body>
</html>